
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChangePassword</h2>
<form action="@Url.Action("ChangePassword","Admin")" method="post">
    <input type="password" name="oldPassword" placeholder="Old password"/>
    <input type="password" name="newPassword"placeholder="New password"/>
    <input type="submit" value="submit"/>
</form>
