
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink(" SKills ", "Skills", "Admin")<br />

@Html.ActionLink("Category ", "Categories", "Admin")<br />

@Html.ActionLink("Verify Employer", "VerifyEmployer","Admin")