
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Display SKills ", "DisplaySkills", "Admin")
@Html.ActionLink("Add Category ", "AddCategory", "Admin")