body{
    background-color: aliceblue;
}
.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49.5vh;
}
.container-2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login,.register{
    border-radius: 20px;
    left: 120px;
    box-shadow: 0 5px 10px rgb(58, 58, 58);  
    background-color: white;
}
form{
    padding: 10px;
}
.form-head{
    height: 50px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px ;
    background:linear-gradient(326deg, rgba(73,227,159,1) 53%, rgba(0,212,255,1) 100%);
    font-family:Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    color:white;
}
.form-input{
    width:85%;  
    padding: 10px;
}
.form-input input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    border :1px solid gray;
}
.form-control{
    padding: 10px;
    padding-bottom: 20px;
    font-family:  Arial, sans-serif;
    font-size: small;
}
.form-control a{
    text-decoration: none;
}
.act-link{
    width: 100%;
    font-family:Arial, sans-serif;
}
.act-link a{
    text-decoration: none;
}
.form-submit{
    background:linear-gradient(326deg, rgba(73,227,159,1) 53%, rgba(0,212,255,1) 100%);
    border-radius:20px;
    border:none;
    color: white;
    font-family: Calibri, sans-serif;
    width: 100%;
    height: 35px;
    font-size: larger;
    font-weight: bold;
}
.form-submit-min{
    background:linear-gradient(326deg, rgba(73,227,159,1) 53%, rgba(0,212,255,1) 100%);
    border-radius:20px;
    border:none;
    color: white;
    font-family: Calibri, sans-serif;
    width: 96%;
    height: 35px;
    font-size: larger;
    font-weight: bold;
    align-self: center  ;
}
.rform-input,.rform-input-max{
    padding:10px;
}

.rform-input input{
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    border :1px solid gray;
}
.rform-input-max input{
    width: 96%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    border :1px solid gray;
}

.rform-input-max textarea{
    width: 96%;
    
    border-radius: 10px;
    border :1px solid gray;
}

label{
    font-family: Arial,Sanas;
    font-size: small;
    color:rgb(67, 66, 66)
}
.sele{
    width: 49%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    border :1px solid gray;
    font-size:15px;
}
.rform-input-sele{
    display: inline-block;
    padding:10px;
    font-family: Arial,Sanas;
}

header{
    background:linear-gradient(326deg, rgba(73,227,159,1) 53%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 10px ;
    border-radius: 10px 10px 0px 0px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}
nav ul li a{
    font-family: Arial,Sanas;
    font-weight: bold;
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color:rgb(95, 94, 92);
}
nav img{
    height: 50px;
    width:auto;
}

.slider {
    display: flex;
    margin-top: 20px;
    position: relative; 
}

.slide 
{
    width: 100%;height: 100%;
}
img{
    width: 100%;
    height: 679px;
    object-fit: cover;
}

.heading-text{
    text-align: center;
    font-family:Arial,Sans;
    color:rgb(56, 56, 56);
}
.about-text{
    padding: 50px;
    font-family: Arial,Sanas;
    text-align: justify;
    color: rgb(56, 56, 56);
}
footer{
    font-family: Arial,Sanas;
    text-align: center;
    background-color: rgb(42, 41, 41);
    color: white;
}
footer .contact-info p{
    text-align: center;
}
.social-icons i{
    color:white;
}