@{
    ViewBag.Title = "Claysys job portal";
    Layout = "~/Views/Shared/MainLayout.cshtml";

}
<h1>Job seeker registration </h1>
<div class="container">
    <form action="/Home/JobSeekerRegister" method="post" enctype="multipart/form-data" onsubmit="return validateRegisterForm()">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group mt-2">
                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="First name"
                       onfocusout="validateFname(this)">
                <span id="error-fname" class="error-msg"></span>
            </div>
            <div class="form-group mt-2">
                <div class="col-md-5">
                    <input type="text" name="LastName" id="LastName" placeholder="Last name" class="form-control" onfocusout="validateLname(this)">
                    <span id="error-lname" class="error-msg"></span>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <select name="Experience" class="form-control" onfocusout="validateExperience()">
                <option>Experience</option>
                <option value="0">Fresher</option>
                <option value="1">1 Year</option>
                <option value="2">2 Year</option>
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
            <span id="error-experience" class="error-msg"></span>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-5">
                <label for="dob">Date of birth</label><br>
                <input type="date" name="BirthDate" id="DateOfBirth" class="form-control" onblur="validateDate(this)">
                <p id="age"></p>
                <span id="error-date" class="error-msg"></span>
            </div>
        </div>

        <div class="rform-input-sele mt-2">
            <label>Gender</label><br>
            <input type="radio" name="Gender" id="male" value="M" onchange="validateGender()">Male
            <input type="radio" name="Gender" id="female" value="F" onchange="validateGender()">Female
            <input type="radio" name="Gender" id="other" value="O" onchange="validateGender()">Other
            <span id="error-gender" class="error-msg"></span>
        </div>
        <div class="form-group mt-2">
            <input type="number" name="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="Phone number"
                   onfocusout="validatePhone(this)">
            <span id="error-phone" class="error-msg"></span>
        </div>
        <div class="form-group mt-2">
            <input type="text" name="Email" id="Email" class="form-control" placeholder="Email address"
                   onfocusout="validateEmail(this)">
            <span id="error-email" class="error-msg"></span>
        </div>
        <div class="form-group">
            <label for="address">Address</label><br>
            <input type="text" name="Address" id="Address" class="form-control" onfocusout="validateAddress(this)">
            <span id="error-address" class="error-msg"></span>
        </div>
        <div class="form-group mt-2">
            <select name="State" id="state" class="form-control" onchange="updateCity()" onfocusout="validateStateCity()">
                <option>Select a state</option>
            </select>
            <select name="City" id="city" class="form-control" onfocusout="validateStateCity()">
                <option>Select a city</option>
            </select>
            <span id="error-state" class="error-msg"></span>
        </div>

        <div class="form-group mt-2">
            <input type="text" name="Username" id="Username" placeholder="Username" class="form-control" onfocusout="validateUsername(this)">
            <span id="error-username" class="error-msg"></span>
        </div>
        <div class="form-group mt-2">
            <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" onkeyup="validateCpass(this)" onfocusout="validatePass(this)">
            <span id="error-password" class="error-msg"></span>
        </div>
        <div class="form-group mt-2">
            <input type="password" name="cpassword" id="ConfirmPassword" placeholder="Confirm password" class="form-control" onfocusout="validateCpass(this)">
            <span id="error-cpassword" class="error-msg"></span>
        </div>

        <div class="form-group mt-2">
            <label for="imageUpload">Profile picture</label>
            <input type="file" name="imageUpload" id="imageUpload" class="form-control" accept=".png, .jpg" onchange="validateImage(this)">
            <span id="error-image" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label for="resumeUpload">Resume</label>
            <input type="file" name="resumeUpload" id="resumeUpload" class="form-control" accept=".pdf" onchange="validateResume(this)">
            <span id="error-resume" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default">
            </div>
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/MyScripts/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        updateCity();
        disableFutureDates(document.getElementById("DateOfBirth"));
    });
</script>
