
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/JobSeekerLayout.cshtml";
}

<h2>Index</h2>
@Session["SeekerId"]

@Html.ActionLink("Add EducationDetails", "AddEducationDetails")
